variables:
  GIT_CLEAN_FLAGS: none

pages:
  script:
    - for d in 104 12A 174 185 250A 250B 254A ; do mkdir -p public/$d ; cp $d/notes.pdf public/$d/notes.pdf ; done
  artifacts:
    paths:
      - public